.products, .products2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  transition: all 500ms ease-in-out;
}

.product, .product2 {
  min-width: 27%;
  width: 27%;
  max-width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
  /* ensures that if there are less cards; rest will fill the space automatically */
  flex-grow: 1;
  margin-right: 2rem;
  border: 3.5px solid transparent;
  transition: all 500ms ease-in-out;
}

.product:hover {
  border: 3.5px solid #ED2B73;
  opacity: 0.8;
}

.productInfo {
  background: #ED2B73;
  text-align: center;
  color: white;
  width: 100%;
  padding: 6px;
  transition: all 500ms ease-in-out;
}

.product2 .productInfo {
  text-align: center;
}

.product2 {
  width: 40%;
  position: relative;
}

/* achieving bottom to up layer on hover on item */
.product2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: transparent;
  opacity: 0.7;
  transition: all 300ms ease-in-out;
  z-index: 1;
  border-radius: 10px;
}

.product2:hover::before {
  background-color: rgba(237, 43, 115, 0.8);
  height: 100%;
}

.product2 {
  position: relative;
  z-index: 2; /* Place the content above the overlay */
  border-radius: 1rem;
}

.product2 div {
  border-radius: 0 0 10px 10px;
}
.product2 img {
  border-radius: 10px 10px 0 0;
}
.productImage2 {
  width: 100%;
}
